body {
	margin: 0px;
	font-size: 16px;
}

main {
	margin-top: 100px;
}

header {
	text-align: center;
}

	#timer {
		text-align: center;
		font-size: 40px;
		margin: 60px;
		margin: 10px auto -20px auto;
		color: black;
		width: 300px;
	}

	#timer:hover {
		background-color: black;
		color: white;
	}

	#week-links {
		display: flex;
		justify-content: center;
		margin-top: 75px;
		font-size: 1.5rem;
	}

	.weeks {
		margin-left: 50px;
		margin-right: 50px;
	}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.entry {
	border-top: solid;
	border-color: lightgrey;
	max-width: 800px;
	margin: 50px 50px 0px 50px;
}

#milestone {
	background-image: linear-gradient(to bottom right, yellow, white);
	padding: 5px;
}
